


.lived {
    background-color: dodgerBlue;
    width: 6px;
    height: 6px;
    outline: 1px solid black;
}

.toGo {
    background-color: whitesmoke;
    width: 6px;
    height: 6px;
    outline: 0.001em solid black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /*width: 900px;*/
}

input {
    padding: 10px;
    margin: 20px 20px 20px 5px;
    width: 40px;
}